@import "partials/bootstrap-overrides";

body {
  font-size: 'Inter', sans-serif;
}

col {
  div {
    div {
      i {
        flex-shrink: 0;
        max-width: 41px;
      }
    }
  }
}

